/* Basic Browser Default Reset */
* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

/*
 * Colours JUST FOR TESTING...
 */
h1 { background-color: lightseagreen; }
#search-form { background-color: lightgreen; }
nav { background-color: lightsalmon; }
.hero { background-color: lightslategray; }
.service-1 { background-color: darkgoldenrod; }
.service-2 { background-color: darkmagenta; }
.service-3 { background-color: darkturquoise; }
article { background-color: blue; }
#contact-form { background-color: yellow; }
footer { background-color: plum; }

/*
 * Let's initialize our grid!
 */

/*
 * Much like flex, to have grid items / cells,
 * you need to have a container with display: grid.
 * The contents (direct descendents) will follow
 * grid rules!
 * ***We may be using body for this example...
 * ***but you can put this on most anything!!!
 */

body {
  display: grid;
  /* Set widths for columns... */
  /* Column 1: 25%; Column 2: 75% */
  grid-template-columns: 25% 75%;
  /* Set heights for rows... */
  grid-template-rows:
    32px /* Logo / Search Form */
    64px /* Navigation */
    300px /* Hero */
    120px /* Service 1 */
    120px /* Service 2 */
    120px /* Service 3 */
    200px /* Additional (article) */
    260px /* Contact Form */
    32px; /* Footer */
  /*
   * Using the "grid-area" names we define...
   * We can write out where each one belongs!
   * Remember to represent EACH column AND row for best results!
   */
  grid-template-areas:
    "logo search"
    "navigation navigation"
    "hero hero"
    "service1 service1"
    "service2 service2"
    "service3 service3"
    "additional additional"
    "contact contact"
    "footer footer";
    
}

/* Name each section of our grid, so we can easily place our elements on it! */
h1 { grid-area: logo; }
#search-form { grid-area: search; }
nav { grid-area: navigation; }
.hero { grid-area: hero; }
.service-1 { grid-area: service1; }
.service-2 { grid-area: service2; }
.service-3 { grid-area: service3; }
article { grid-area: additional; }
#contact-form { grid-area: contact; }
footer { grid-area: footer; }

/* Tablet */
@media screen and ( min-width: 600px ) {
  body { /* 3 columns; 7 rows. */
    grid-template-columns: 25% 25% 50%;
    grid-template-rows:
      32px /* Logo / Search Form */
      32px /* Navigation */
      500px /* Hero */
      200px /* Service 1 / Service 2 */
      180px /* Service 3 */
      400px /* Additional / Contact */
      32px; /* Footer */
    grid-template-areas:
      "logo search search"
      "navigation navigation navigation"
      "hero hero hero"
      "service1 service1 service2"
      "service3 service3 service3"
      "additional additional contact"
      "footer footer footer";
  }
}
