/*
 * This is NOT a selector! We are defining a font
 * that the browser / client can download and use.
 * @link https://www.dafont.com/cherry.font
 */
@font-face {
  font-family: 'Cherry Monospace-Light';
  src: url( '../fonts/cherry-monospace/Cherry\ Monospace-Light.ttf' );
  src:
    url( '../fonts/cherry-monospace/Cherry\ Monospace-Light.ttf' )
    format( 'truetype' );
  font-weight: normal; /* Thickness: how bold or light is it? */
  font-style: normal; /* Is it italic? */
}

/*
 * Rubik font.
 * @link https://www.fontsquirrel.com/fonts/rubik
 */

@font-face { /* Rubik: Regular */
  font-family: 'Rubik';
  src: url( '../fonts/rubik/Rubik-Regular.ttf' );
  src: url( '../fonts/rubik/Rubik-Regular.ttf' )
       format( 'truetype' );
  font-weight: normal;
  font-style: normal;
}

@font-face { /* Rubik: Black */
  font-family: 'Rubik';
  src: url( '../fonts/rubik/Rubik-Black.ttf' );
  src: url( '../fonts/rubik/Rubik-Black.ttf' )
       format( 'truetype' );
  font-weight: bolder;
  font-style: normal;
}

@font-face { /* Rubik: Black Italic */
  font-family: 'Rubik';
  src: url( '../fonts/rubik/Rubik-BlackItalic.ttf' );
  src: url( '../fonts/rubik/Rubik-BlackItalic.ttf' )
       format( 'truetype' );
  font-weight: bolder;
  font-style: italic;
}

@font-face { /* Rubik: Bold */
  font-family: 'Rubik';
  src: url( '../fonts/rubik/Rubik-Bold.ttf' );
  src: url( '../fonts/rubik/Rubik-Bold.ttf' )
       format( 'truetype' );
  font-weight: bold;
  font-style: normal;
}

@font-face { /* Rubik: Bold Italic */
  font-family: 'Rubik';
  src: url( '../fonts/rubik/Rubik-BoldItalic.ttf' );
  src: url( '../fonts/rubik/Rubik-BoldItalic.ttf' )
       format( 'truetype' );
  font-weight: bold;
  font-style: italic;
}

@font-face { /* Rubik: Light */
  font-family: 'Rubik';
  src: url( '../fonts/rubik/Rubik-Light.ttf' );
  src: url( '../fonts/rubik/Rubik-Light.ttf' )
       format( 'truetype' );
  font-weight: lighter;
  font-style: normal;
}

@font-face { /* Rubik: Light Italic */
  font-family: 'Rubik';
  src: url( '../fonts/rubik/Rubik-LightItalic.ttf' );
  src: url( '../fonts/rubik/Rubik-LightItalic.ttf' )
       format( 'truetype' );
  font-weight: lighter;
  font-style: italic;
}

/*
 * Text meant only for screen readers.
 * @link https://make.wordpress.org/accessibility/handbook/markup/the-css-class-screen-reader-text/
 */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

/*
 * Body width. 
 */

body {
  max-width: 600px;
  /* Margin left/right auto will centre display "block" (non-text) elements. */
  margin-right: auto;
  margin-left: auto;
}

/*
 * Headings
 */

h1 {
  font-family: 'Cherry Monospace-Light', 'Courier New', Courier, monospace;
}

/*
 * Navigation Links
 */

/* "Direct descendant" - the UL must be DIRECTLY inside the NAV.*/
nav > ul {
  list-style-type: square;
}

/* Any anchor (a) anywhere inside of a nav. */
nav a {
  text-decoration: none; /* Gets rid of the underline! */
  /* "color" adjusts the font-colour. */
  color: rgb( 0, 200, 0 ); /* There are a few ways to handle color... name, RGB, and Hex are most common. HSL is also an option. */

  /* Font-family is used for defining which font should be used here. */
  /*
   * If the first font in the comma-separated list is not installed
   * on the device, the second will be used. If that is not found, the
   * third, and so on. This is called the "font stack."
   */
  font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
}

/* The "hover" state of any anchor (a) inside of a nav. (Pseudo-selector.) */
nav a:hover {
  color: #0000dd; /* Hex colour. */
}

/*
 * Page content (Rubik font testing.)
 */

.black-font {
  font-weight: bolder;
}

.light-font {
  font-weight: lighter;
}

h2, p {
  font-family: 'Rubik', Helvetica, Arial, sans-serif;
  font-weight: normal;
}

/* Target the 3rd <P> inside an element. */
p:nth-of-type(3) {
  font-family: 'Red Rose', cursive;
}

/* Align image in 3rd <P> */
p:nth-of-type(3) img {
  float: right;
  margin-left: 32px;
}